<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slang Input</title>
</head>
<body style="text-align: center; margin-top: 300px; background-color: dodgerblue;">
    <p style="font-size: 50px;">Enter a Slang Word</p>
    <form method="post">
        <label for="username" style="font-size: 25px;">Slang:</label>
        <input type="text" id="username" name="username" style="width: 200px;height: 20px;">
        <button type="submit" style="font-size: 15px;">Submit</button>
    </form>
</body>
</html>
